$background: #f4f4f4;
$background2: #2196f3;
$white: #ffffff;
$color1: yellow;
$color2: blue;
$grey5: #d3d3d3;

// material color variable
$blue5: #e3f2fd;
$blue4: #bbdefb;
$blue3: #90caf9;
$blue2: #64b5f6;
$blue1: #42a5f5;