.product-wrapper {
    display: grid;
}

.product-trending {
    .product {
        &:nth-child(3) {
            grid-column: 3;
            grid-row: 1/3;
        }        
    }
}


.product {
    background: $blue4;
    text-align: justify;
    padding: 1.5rem;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
    &__title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 1.5rem;
        a {
            text-decoration: none;
            color: $blue1;
        }
    }
    &__thumb {
        text-align: center;
        display: block;
        margin-bottom: 1.5rem;
        img {
            max-width: 50%;
        }
    }
    &__description {
        margin-bottom: 1.5rem;
    }
    &__handle {
        text-align: right;
    }
    &:hover {
        background: $blue3;
        -webkit-transition: all ease .3s;
        -moz-transition: all ease .3s;
        transition: all ease .3s;
    }
}

.product-feature {
    grid-template-rows: 25rem 1fr;
    line-height: 1.8;
    
    .product {
        &__title, &__handle {
            display: none;
        }

        &:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        &:nth-child(2) {
            .product__description {
            max-height: 110px;
            overflow: hidden;
            margin-top: -10px;                    
            }
        }         

        &:nth-child(3) {
            grid-column: 4/6;
            grid-row: 1;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        &:nth-child(4) {
            grid-column: 1;
            grid-row: 2/4;
        }

        &:nth-child(5) {
            grid-column: 2;
            grid-row: 2/4;
        }                      

        &:nth-child(6) {
            grid-column: 3/6;
            grid-row: 2;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }             

        &:nth-child(7) {
            grid-column: 3/6;
            grid-row: 3;
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }           

    }
}

